@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
* {
  font-family: 'League Spartan', sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center !important;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
.picture {
  display: flex;
  min-height: 80vh;
  min-width: 80vw;
  justify-content: center !important;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center !important;
  text-align: center;
}
img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 80vh;
  max-width: 80vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content {  
  min-height: 19vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
.content p,h1,a {
  word-wrap: break-word;
}
a {
  text-decoration: none;
  padding: 5px;
}
@media (prefers-color-scheme: dark) {
  * {
    background-color: black;
    color: white;
  }
  a:hover {
    color: black;
    background-color: white;
  }
}
@media (prefers-color-scheme: light) {
  * {
    background-color: white;
    color: black;
  }
  a:hover {
    color: white;
    background-color: black;
  }
}
